.navbar-brand div,
.signin-logo {
    width: 42px;
    height: 42px;
}

.contact-icon {
    width: 35px;
    height: 35px;
}

.category-icon,
footer .icon {
    width: 25px;
    height: 25px;
}

.profile-icon {
    width: 65px;
    height: 65px;
}
